<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>KCI China</string>
	<key>CFBundleIdentifier</key>
	<string>com.kci1.KCISalesAppChina</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>CFBundleDisplayName</key>
	<string>KCI China</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>DOC</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.word.doc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>DOCX</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.wordprocessingml.document</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PPT</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.powerpoint.ppt</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PPTX</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.presentationml.presentation</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>KEY</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iwork.keynote.sffkey</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>XLS</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.excel.xls</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>XLSX</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.spreadsheetml.sheet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PAGES</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iwork.pages.sffpages</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>NUMBERS</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iwork.numbers.sffnumbers</string>
			</array>
		</dict>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>6.1</string>
	<key>CFBundleVersion</key>
	<string>6.1</string>
</dict>
</plist>
